{% extends 'base.html' %}

{% block head %}
<title>Account Page</title>
{% endblock %}

{% block body %}
    <h1>Welcome to the Account Page</h1>
    <div>
        <table>
            <tr>
                <th>User</th>
                <th>Balance</th>
                <th>Date Created (UTC)</th>
                <th>Actions</th>
            </tr>
            {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.balance }}</td>
                    <td>{{ user.date_created.date() }}</td>
                    {% if user == current_user %}
                    <td>
                        <a href="/delete/{{ user.id }}">DELETE Account</a>
                    </td>
                    {% else: %}
                    <td>
                        <a href="/pay/{{ user.id }}">Pay Account</a>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}