{% extends 'base.html' %}

{% block head %}
<title>Roommate Helper</title>
{% endblock %}

{% block body %}
<h1>Welcome to Roommate Helper</h1>
    {% if current_user.is_authenticated %}
        <h3>Current Items to Pay for</h3>
        <table>
            <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Date Created</th>
                <th>Payer</th>
                <th>Item Users</th>
                <th>Actions</th>
            </tr>
            {% for item in items %}
                {% if current_user in item.users and current_user.id != item.payerID%}
                <tr>
                    <td>{{ item.itemName }}</td>
                    <td>{{ item.itemPrice }}</td>
                    <td>{{ item.date_created.date() }}</td>
                    <td>
                        {% for user in users %}
                            {% if user.id == item.payerID %}
                                {{ user.username }}
                                {{ break }}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for user in item.users %}
                            {{ user.username }}
                        {% endfor %}
                    </td>
                    <td>
                        <a href="/pay/{{ item.id }}">Pay</a>
                        <a href="/deleteItem/{{ item.id }}">Delete</a>
                    </td>
                </tr>

                {% endif %}
        {% endfor %}
        </table>
    {% else %}
       <h3>Please log in or register to continue</h3>
    {% endif %}
{% endblock %}