{% extends 'base.html' %}

{% block head %}
<title>Item Page</title>
{% endblock %}

{% block body %}
    <h1>Welcome to the Ledger</h1>
    <div>
        <table>
            <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Date Created</th>
                <th>Payer</th>
                <th>Item Users</th>
                <th>Actions</th>
            </tr>
            {% for item in items %}
                <tr>
                    <td>{{ item.itemName }}</td>
                    <td>{{ item.itemPrice }}</td>
                    <td>{{ item.date_created.date() }}</td>
                    <td>
                        {% for user in users %}
                            {% if user.id == item.payerID %}
                                {{ user.username }}
                                {{ break }}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for user in item.users %}
                            {{ user.username }}
                        {% endfor %}
                    </td>
                    <td class="action-links">
                        <a href="/deleteItem/{{ item.id }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

<form action="/addItem" method='POST' class="custom-form">
<h2>Add Item</h2>
    <div class="form-group">
        <label for="itemName">Item Name:</label>
        <input type="text" name="itemName" id="itemName" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="itemPrice">Item Price:</label>
        <input type="number" name="itemPrice" id="itemPrice" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="payerID">User who Paid:</label>
        <select id="payerID" name="payerID" class="form-control">
            {% for user in users %}
                <option value="{{ user.id }}">{{ user.username }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="itemUsers">Users who Use Item:</label>
        <select id="itemUsers" name="itemUsers" multiple class="form-control">
            {% for user in users %}
                <option value="{{ user.id }}">{{ user.username }}</option>
            {% endfor %}
        </select>
    </div>
    <input type="submit" value="Add Item" class="btn btn-primary">
</form>
{% endblock %}