{% extends 'base.html' %}

{% block head %}
<title>Login Page</title>
{% endblock %}

{% block body %}
    <h1>Welcome to the Login Page</h1>
        <form action="/login" method="POST">
        {{ form.hidden_tag() }}
            <div class="username_login">
                {{ form.username.label }}
                {{ form.username }}
            </div>
            <div class="password_login">
                {{ form.password.label }}
                {{ form.password }}
            </div>
            <button type="submit">Login</button>
        </form>
{% endblock %}