{% extends 'base.html' %}

{% block head %}
<title>Payment Page</title>
{% endblock %}

{% block body %}
<h1>Payment Page</h1>

<!-- Display total balance -->
<h4 style="color: {{ 'green' if balance >= 0 else 'red' }}">
    {{ "You owe $" + ('%.2f' | format(balance)) if balance >= 0 else "You owe $" + ('%.2f' | format(-balance)) }}
</h4>

<!-- Items the current user owes -->
<h4>You owe {{ user_to_pay.username }} for the following items:</h4>
<table>
    <thead>
        <tr>
            <th>Item</th>
            <th>Individual Price Owed</th>
            <th>Date Created</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in owe_list %}
        <tr>
            <td>{{ entry.item.itemName }}</td>
            <td>${{ '%.2f' | format(entry.amount) }}</td>
            <td>{{ entry.date }}</td>
                {% if entry.item.user_items[0].paid %}
                    <td>
                        <span style="color: green;">Paid</span>
                    </td>
                {% else %}
                    <td class="action-links">
                        <a href="/payment/{{ entry.item.id }}/{{ user_to_pay.id }}">Pay</a>
                    </td>
                {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<br>

<!-- Items the other user owes the current user -->
<h4>{{ user_to_pay.username }} owes you for the following items:</h4>
<table>
    <thead>
        <tr>
            <th>Item</th>
            <th>Individual Price Owed</th>
            <th>Date Created</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in owed_list %}
        <tr>
            <td>{{ entry.item.itemName }}</td>
            <td>${{ '%.2f' | format(entry.amount) }}</td>
            <td>{{ entry.date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
